.should_show{
    visibility: hidden;
}

.the_flash_card_back{

}

/* Front card style taken fron codepen */
:root {
    --clr-primary-flash-card: #eb7e47;
    --clr-primary-hover-flash-card: #ed8e5e;
    --transition-flash-card: 0.5s ease;
}
.the_flash_card_front {
    font-family: "Poppins", sans-serif;
    text-align: center;
    position: absolute;
    background: rgba(46, 49, 56, 0.9);
    padding: 32px 28px;
    overflow: hidden;
    border-radius: 0px;
    transition: 0.35s ease-in;
    width: 250px;
    height: 320px;
}
.the_flash_card_front:after {
    content: "";
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    width: 0%;
    height: 0.35rem;
    background: var(--clr-primary-flash-card);
    transition: var(--transition-flash-card);
}
.the_flash_card_front img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: var(--transition-flash-card);
    filter: blur(1px) saturate(0);
}
.the_flash_card_front h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 1rem;
}
.the_flash_card_front p {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 1.125rem;
    font-weight: 300;
}
.the_flash_card_front a {
    position: relative;
    color: #fff;
    text-decoration: unset;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    transition: color 0.35s;
}
.the_flash_card_front a:after {
    content: ">";
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    border: 2px solid #fff 5;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    transition: all 0.35s, color 0s;
}
.the_flash_card_front a:before {
    content: "";
    position: absolute;
    width: 0rem;
    height: 0.125rem;
    background: #fff;
    right: 0.75rem;
    top: calc(50% - 0.025rem);
    transition: 0.35s;
}
.the_flash_card_front:hover {
    cursor: pointer;
    background: rgba(41, 48, 61, 0.75);
    box-shadow: 0px 16px 24px rgba(0, 15, 0, 0.1);
}
.the_flash_card_front:hover:after {
    width: 100%;
    left: 0;
    right: auto;
}
.the_flash_card_front:hover a:after {
    border-color: transparent;
    margin-left: 2rem;
    transition: all 0.35s, color 0s;
}
.the_flash_card_front:hover a:before {
    width: 1.5rem;
    background: var(--clr-primary-flash-card);
}
.the_flash_card_front:hover a {
    color: var(--clr-primary-flash-card);
}
.the_flash_card_front:hover a:hover {
    color: var(--clr-primary-hover-flash-card);
}
.the_flash_card_front:hover a:hover:before {
    background: var(--clr-primary-hover-flash-card);
}
.the_flash_card_front:hover img {
    transform: scale(1.2) rotate(-5deg);
    filter: blur(8px) saturate(0);
}
